<div auth class="wrapper-md" ng-controller="userCtrl">
  <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
  <div class="panel panel-default">
    <div class="panel-heading">
        问答管理  总数{{totalItems}}
    </div>
    <div class="row wrapper">
        <div style="display: inline-block;margin:0px 5px;">
            <label class="control-label"></label>
            <input type="text" ng-model="nameSearch" class="input-sm form-control w inline v-middle" placeholder="姓名/电话" ng-keypress="enterKeyPress($event)"/>
        </div>
        <div style="display: inline-block;margin:0px 5px;">
            <button class="btn btn-default" ng-click="search(1)">搜索</button>
        </div>
    </div>
    
    <div class="table-responsive">
        <table class="table table-striped v-middle" id="dataTableCommonID">
            <thead>
                <tr>
                    <th>头像</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>电话</th>
                    <th>账户</th>
                    <th>职业</th>
                    <th>状态</th>
                    <th>大学</th>
                    <th>学院</th>
                    <th>年级</th>
                    <th>入学时间</th>
                    <th>公司</th>
                    <th>职位</th>
                    <th>时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody class="no-padder">
              <tr ng-repeat ="user in users">
                <td><img src="{{user.image}}" style="width:33px;height:33px;border-radius:20%;" onerror="this.src='img/a0.jpg'"></td>
                <td class="v-middle">{{user.name}}</td>
                <td class="v-middle">{{user.sex}}</td>
                <td class="v-middle">{{user.phone}}</td>
                <td class="v-middle">{{user.balance}}元</td>
                <td class="v-middle">{{user.job}}</td>
                <td class="v-middle">{{user.authority}}</td>
                <td class="v-middle">{{user.university}}</td>
                <td class="v-middle">{{user.school}}</td>
                <td class="v-middle">{{user.grade}}</td>
                <td class="v-middle">{{user.year_in}}</td>
                <td class="v-middle">{{user.company}}</td>
                <td class="v-middle">{{user.position}}</td>
                <td class="v-middle">{{user.time}}</td>
                <td class="v-middle"><button class="btn btn-primary btn-sm" ng-click="changeInfoBtn({{user.id}})">删除</button></td>
              </tr>                      
            </tbody>
        </table>
        
        <div style="margin: 5px 10px;">     
        <pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" max-size="maxSize" class="pagination-sm m-t-sm m-b" boundary-links="true" ng-click="paginationClick()"></pagination>
        </div>

    </div>
  </div>

  <!-- aside right -->
  <div class="app-aside-right pos-fix padder w-auto-xs bg-white b-l animated fadeInRight hide" id="infoChangePage" style="border: 1px solid #7266ba;">
    <div class=" center" >
      <div class="wrapper b-b b-t b-light m-b">
        <div class="pull-right text-muted text-md" ui-toggle-class="show" target=".app-aside-right" ng-click="closeInfoChangePage()"><i class="icon-close"></i></div>
        修改用户状态
      </div>
      <form class="form-horizontal" method="get">
        <div class="form-group has-success">
          <label class="col-sm-3 control-label">姓名</label>
          <div class="col-sm-8">
            <input type="text" disabled id="info-change-name" class="form-control">
          </div>
        </div>
        <div class="form-group has-success">
          <label class="col-sm-3 control-label">状态</label>
          <div class="col-sm-8">
            <select id="info-change-authority" class="form-control">
                <option value="normal">正常</option>
                <option value="stop">封号</option>
                <option value="admin">管理员</option>
            </select>
          </div>
        </div>
        <div class="form-group has-success">
          <label class="col-sm-3 control-label">职业</label>
          <div class="col-sm-8">
            <select id="info-change-job" class="form-control">
                <option value="student">学生</option>
                <option value="teacher">老师</option>
                <option value="other">其他</option>
            </select>
          </div>
        </div>
        <div class="form-group has-success">
          <label class="col-sm-3 control-label">学校</label>
          <div class="col-sm-8">
            <input type="text" id="info-change-university" class="form-control">
          </div>
        </div>
        <div class="form-group has-success">
          <label class="col-sm-3 control-label">学院</label>
          <div class="col-sm-8">
            <input type="text" id="info-change-school" class="form-control">
          </div>
        </div>
        <div class="form-group has-success">
          <label class="col-sm-3 control-label">年级</label>
          <div class="col-sm-8">
            <input type="text" id="info-change-grade" class="form-control">
          </div>
        </div>
        <div class="form-group has-success">
          <label class="col-sm-3 control-label">入学时间</label>
          <div class="col-sm-8">
            <input type="text" id="info-change-year_in" class="form-control">
          </div>
        </div>
        <div class="form-group has-success">
          <label class="col-sm-3 control-label">公司</label>
          <div class="col-sm-8">
            <input type="text" id="info-change-company" class="form-control">
          </div>
        </div>
        <div class="form-group has-success">
          <label class="col-sm-3 control-label">职位</label>
          <div class="col-sm-8">
            <input type="text" id="info-change-position" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <button ng-click="closeInfoChangePage()" class="btn btn-default">Cancel</button>
            <button ng-click="saveInfoChangePage()" class="btn btn-primary">保存修改</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- /aside right -->
</div>